<div class="row">
    <div class="col-xs-12">
        <img [src]="project.imagePath" alt="{{ project.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ project.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Project <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Recalculate Technologies</a></li>
                <li><a href="#">Edit Project</a></li>
                <li><a href="#">Delete Project</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ project.description }}</div>
</div>
<div class="row">
    <div class="col-xs-12">Technologies</div>
</div>