<div class="row">
    <div class="col-xs-12">
        <img [src]="project.imagePath" alt="{{ project.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ project.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" plDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Project <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onRecalculateTechnologies()" style="cursor: pointer;">Recalculate Technologies</a></li>
                <li><a style="cursor: pointer;">Edit Project</a></li>
                <li><a style="cursor: pointer;">Delete Project</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ project.description }}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let technology of project.technologies">
                {{ technology.name }} - {{ technology.count }}
            </li>
        </ul>
    </div>
</div>
